# OneHotEncoder v LabelEncoder v pandas.get_dummies #

1. get_dummies is quick and easy and applies well to data in a pandas df
2. OHE I haven't yet figured out
3. LabelEncoder is fine but has the problem of implied rank/order

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# data to play with

d_1 = {'frogs':['tree', 'bull', 'golden', 'tree','tree','green', 'bull', 'golden', 'bull'],\
        'logs': [1, 2, 3, 1, 2, 3, 7, 1, 2],\
        'bogs': ['wet', 'dry', 'wet', 'dry', 'wet', 'dry', 'wet', 'wet', 'wet'],\
        'hogs': [4, 5, 4, 5,4,5,4,5,1],\
        'eggnogs':['y','n','y','n','y', 'n','y', 'n', 'n']};
df_d_1=pd.DataFrame(d_1)
df_d_2=pd.DataFrame(d_1)
df_d_3=pd.DataFrame(d_1)

df_d_1['frogs']

0      tree
1      bull
2    golden
3      tree
4      tree
5     green
6      bull
7    golden
8      bull
Name: frogs, dtype: object

### OneHotEncoder ###

In [3]:
df_d_1

    frogs  logs bogs  hogs eggnogs
0    tree     1  wet     4       y
1    bull     2  dry     5       n
2  golden     3  wet     4       y
3    tree     1  dry     5       n
4    tree     2  wet     4       y
5   green     3  dry     5       n
6    bull     7  wet     4       y
7  golden     1  wet     5       n
8    bull     2  wet     1       n

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(df_d_1)
df_d_1_ohe = enc.fit_transform(df_d_1)
print(df_d_1_ohe)

  (0, 3)	1.0
  (0, 4)	1.0
  (0, 9)	1.0
  (0, 11)	1.0
  (0, 14)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 8)	1.0
  (1, 12)	1.0
  (1, 13)	1.0
  (2, 1)	1.0
  (2, 6)	1.0
  (2, 9)	1.0
  (2, 11)	1.0
  (2, 14)	1.0
  (3, 3)	1.0
  (3, 4)	1.0
  (3, 8)	1.0
  (3, 12)	1.0
  (3, 13)	1.0
  (4, 3)	1.0
  (4, 5)	1.0
  (4, 9)	1.0
  (4, 11)	1.0
  (4, 14)	1.0
  (5, 2)	1.0
  (5, 6)	1.0
  (5, 8)	1.0
  (5, 12)	1.0
  (5, 13)	1.0
  (6, 0)	1.0
  (6, 7)	1.0
  (6, 9)	1.0
  (6, 11)	1.0
  (6, 14)	1.0
  (7, 1)	1.0
  (7, 4)	1.0
  (7, 9)	1.0
  (7, 12)	1.0
  (7, 13)	1.0
  (8, 0)	1.0
  (8, 5)	1.0
  (8, 9)	1.0
  (8, 10)	1.0
  (8, 13)	1.0

In [6]:
# not done here - still need to figure this out ^^^

### LabelEncoder ###

In [7]:
# LabelEcoder
from sklearn.preprocessing import LabelEncoder

In [8]:
le_frog = LabelEncoder()
df_d_2['frogs']=le_frog.fit_transform(df_d_2['frogs'])
df_d_2

   frogs  logs bogs  hogs eggnogs
0      3     1  wet     4       y
1      0     2  dry     5       n
2      1     3  wet     4       y
3      3     1  dry     5       n
4      3     2  wet     4       y
5      2     3  dry     5       n
6      0     7  wet     4       y
7      1     1  wet     5       n
8      0     2  wet     1       n

In [9]:
le_bog =LabelEncoder()
df_d_2['bogs']=le_bog.fit_transform(df_d_2['bogs'])
df_d_2

   frogs  logs  bogs  hogs eggnogs
0      3     1     1     4       y
1      0     2     0     5       n
2      1     3     1     4       y
3      3     1     0     5       n
4      3     2     1     4       y
5      2     3     0     5       n
6      0     7     1     4       y
7      1     1     1     5       n
8      0     2     1     1       n

In [10]:
# define feastures and target
X = df_d_2.drop(['eggnogs'], axis=1)
y = df_d_2['eggnogs']

### pandas.get_dummies ###

In [11]:
#get dummies seems very very good
df_d_3_dum = pd.get_dummies(df_d_3)
df_d_3_dum

,logs,hogs,frogs_bull,frogs_golden,frogs_green,frogs_tree,bogs_dry,bogs_wet,eggnogs_n,eggnogs_y
0,1,4,0,0,0,1,0,1,0,1
1,2,5,1,0,0,0,1,0,1,0
2,3,4,0,1,0,0,0,1,0,1
3,1,5,0,0,0,1,1,0,1,0
4,2,4,0,0,0,1,0,1,0,1
5,3,5,0,0,1,0,1,0,1,0
6,7,4,1,0,0,0,0,1,0,1
7,1,5,0,1,0,0,0,1,1,0
8,2,1,1,0,0,0,0,1,1,0

In [12]:
# DOES NOT WORK
df_d_3_alt = pd.get_dummies(df_d_3['frogs','bogs'])
# therefore if you don't want to transform all columns, first split the data frame

KeyError: ('frogs', 'bogs')